<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> trainerhead}}
    <div class="container py-5" style="margin-left: 10%">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 border-right" style="padding-right: 20px;">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-3">
                         {{#each aTrainer}}
                        <img class="rounded-circle mt-5" width="150px" src="/uploads/trainer/{{img}}">
                         {{/each}}
                    </div>
                </div>
                
                
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3 class="text-right" style="display: ;">User Profile</h3>
                        </div>
                        {{#each aTrainer}}
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels" style="font-size: 20px">Full Name: </label>
                                <span style="font-size: 20px">{{name}}</span></div>
                            <div class="col-md-12"><label class="labels" style="font-size: 20px">Email: </label>
                                <span style="font-size: 20px">{{email}}</span></div>
                            <div class="col-md-12"><label class="labels" style="font-size: 20px">Address: </label> <span
                                    style="font-size: 20px">{{address}}</span></div>
                            <div class="col-md-12"><label class="labels" style="font-size: 20px">Age: </label> <span
                                    style="font-size: 20px">{{age}}</span></div>
                            <div class="col-md-12"><label class="labels" style="font-size: 20px">Speciality: </label>
                                <span style="font-size: 20px">{{speciality}}</span></div>
                        </div>
                        <div class="mt-5 text-left"><button class="btn btn-primary profile-button" type="button"
                                onclick="location.href='/trainer/trainerEdit?id={{_id}}'">Edit Profile</button></div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    </div>
</body>

</html>